.sidebar {
    margin: 7px 0px;
}
.sidebar a {
    color: #337ab7;
}
.main {
    padding: 10px 5px;
}
.jumbotron {
    border-radius: 10px;
    padding: 10px 20px;
}
.error {
    border-color: red !important;
}
.errorText {
    color: darkred;
}
.warning {
    border-color: orange !important;
}
.warningText {
    color: orangered;
}

/* react-live styles */
.prism-code {
    height: 550px;
}

.react-live {
    height: 560px;
}